.cabecalho{
    background-color: rgba(0, 255, 255, 0.822);
    color:antiquewhite;
    text-align: center;
    font-size: 0.0rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
}
.cabecalho_logo{
    padding: 1.5em 0;
    width: 14.5em;
}